:root {
  --ion-font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans';
  --app-background: #F5F5F5;
  --surface: #FFFFFF;
  --border-color: #D1D1D1;
  --text-primary: #0A0A0A;
  --text-secondary: #A3A3A3;

  --ion-color-primary: #3B82F6;
  --ion-color-primary-rgb: 59,130,246;
  --ion-color-primary-contrast: #FFFFFF;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #336fd1;
  --ion-color-primary-tint: #5aa0fb;

  --ion-color-secondary: #8B5CF6;
  --ion-color-secondary-rgb: 139,92,246;
  --ion-color-secondary-contrast: #FFFFFF;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #764fe0;
  --ion-color-secondary-tint: #a08afb;

  --ion-color-tertiary: #06B6D4;
  --ion-color-tertiary-rgb: 6,182,212;
  --ion-color-tertiary-contrast: #FFFFFF;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #059bb4;
  --ion-color-tertiary-tint: #33c4dc;

  --ion-color-success: #10B981;
  --ion-color-success-rgb: 16,185,129;
  --ion-color-success-contrast: #FFFFFF;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0e9f6e;
  --ion-color-success-tint: #39c799;

  --ion-color-medium: #A3A3A3;
  --ion-color-medium-rgb: 163,163,163;
  --ion-color-medium-contrast: #0A0A0A;
  --ion-color-medium-contrast-rgb: 10,10,10;
  --ion-color-medium-shade: #8d8d8d;
  --ion-color-medium-tint: #b5b5b5;

  --ion-color-dark: #0A0A0A;
  --ion-color-dark-rgb: 10,10,10;
  --ion-color-dark-contrast: #FFFFFF;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #000000;
  --ion-color-dark-tint: #1A1A1A;

  --ion-color-light: #FFFFFF;
  --ion-color-light-rgb: 255,255,255;
  --ion-color-light-contrast: #0A0A0A;
  --ion-color-light-contrast-rgb: 10,10,10;
  --ion-color-light-shade: #EDEDED;
  --ion-color-light-tint: #FFFFFF;
}

.dark {
  --app-background: #0A0A0A;
  --surface: #1A1A1A;
  --border-color: #3A3A3A;
  --text-primary: #FFFFFF;
  --text-secondary: #A3A3A3;

  --ion-color-medium-contrast: #FFFFFF;
  --ion-color-light-contrast: #0A0A0A;
}
